.main{
    .container{
        background-color: lightseagreen;
    }
}
footer.container {
    background-color: darkslategrey !important;
}


.jumbotron{
    background-color: transparent !important;
}

footer{
    background-color: darkslategray !important;
}
