@mixin format-border($color){
    border : {
        radius: 10px;
        color: $color;
        width: 1px,
    }
}

body{
    background-color: white;
    font: normal 14px courrier, sans-serif;
}
.form-control{
    @include format-border( gray);
}
.wrapper{
    text-align: center;
}

.container{
    padding: 25px;
    position: fixed;
}

.from-login{
    background-color: aquamarine;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    @include format-border(black);
}